@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Sura:wght@400;700&display=swap");
nav {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  color: white;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  margin-left: 5em;
}

nav .logo img {
  width: 2.45em;
  height: auto;
}

nav .logo h2 {
  font-size: 32px;
  font-weight: 400;
}

nav .logo h2 span {
  font-size: 32px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

nav .links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.75em;
          column-gap: 2.75em;
  margin-right: 5em;
}

nav .links li {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  position: relative;
  cursor: pointer;
}

nav .links li::after {
  content: "";
  position: absolute;
  width: 0%;
  background-color: white;
  height: 2px;
  bottom: -5px;
  left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav .links li:hover::after {
  width: 100%;
}

@media only screen and (max-width: 1030px) {
  nav {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: black;
    color: white;
  }
  nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 1em;
            column-gap: 1em;
    margin-left: 4em;
  }
  nav .logo img {
    width: 2em;
    height: auto;
  }
  nav .logo h2 {
    font-size: 26px;
  }
  nav .logo h2 span {
    font-size: 26px;
  }
  nav .links {
    margin-right: 4em;
  }
  nav .links li {
    font-size: 16px;
  }
}

@media only screen and (max-width: 675px) {
  nav {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2em;
  }
  nav .logo {
    margin-left: 0;
    margin-top: 1em;
  }
  nav .logo img {
    width: 1.6em;
    height: auto;
  }
  nav .logo h2 {
    font-size: 26px;
  }
  nav .logo h2 span {
    font-size: 26px;
  }
  nav .links {
    margin-right: 0;
    margin-bottom: 1em;
  }
  nav .links li {
    font-size: 16px;
  }
}

html, body {
  height: 100%;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  font-family: 'Sura', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.clip {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-shadow: 0px 25px 18px -20px black;
          box-shadow: 0px 25px 18px -20px black;
}

.github-wrap {
  position: absolute;
  cursor: pointer;
  bottom: 1em;
  right: 1em;
  width: 124px;
}

.github-wrap .github {
  width: 100%;
  height: auto;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.github-wrap:hover .github {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.hello {
  margin-top: 20vh;
  margin-left: 15em;
}

.hello h1 {
  font-size: 64px;
  font-weight: 400;
  line-height: 2.25em;
}

.hello span {
  font-family: 'Montserrat', sans-serif;
  color: #5c0096;
  font-weight: 700;
  position: relative;
}

.hello span::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 85%;
  bottom: 50%;
  right: -5px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-animation: blink 0.75s infinite ease;
          animation: blink 0.75s infinite ease;
  border-right: 2px solid #5c0096;
}

.about {
  margin: auto;
  margin-top: 75vh;
  max-width: 80%;
}

.about h1 {
  font-size: 46px;
  font-weight: 400;
  margin-bottom: 1.8em;
  text-align: center;
}

.about .info-bar {
  opacity: 0;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #6b6b6b;
}

.about .info-bar h2 {
  color: #5c0096;
  font-size: 28px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: .5em;
}

.about .info-bar p {
  font-size: 18px;
}

.resume-info.active .info-bar[data-num="1"] {
  -webkit-animation: info 1s ease-in forwards;
          animation: info 1s ease-in forwards;
}

.resume-info.active .info-bar[data-num="2"] {
  -webkit-animation: info 1s ease-in 0.8s forwards;
          animation: info 1s ease-in 0.8s forwards;
}

.resume-info.active .info-bar[data-num="3"] {
  -webkit-animation: info 1s ease-in 1.6s forwards;
          animation: info 1s ease-in 1.6s forwards;
}

.resume-info.active .info-bar[data-num="4"] {
  -webkit-animation: info 1s ease-in 2.4s forwards;
          animation: info 1s ease-in 2.4s forwards;
}

.resume-info.active .info-bar[data-num="5"] {
  -webkit-animation: info 1s ease-in 3.2s forwards;
          animation: info 1s ease-in 3.2s forwards;
}

.skills {
  margin: auto;
  margin-top: 20vh;
  width: 90%;
}

.skills h1 {
  font-size: 46px;
  font-weight: 400;
  margin-bottom: 1.8em;
  text-align: center;
}

.skills .skill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 5em;
}

.skills .skill-list .skill {
  opacity: 0;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1em;
          column-gap: 1em;
}

.skills .skill-list .skill img {
  width: 144px;
  height: auto;
}

.skills .skill-list .skill p {
  font-size: 24px;
  max-width: 25em;
}

.skill-list.active .skill[data-num="1"] {
  -webkit-animation: info 1s ease-in forwards;
          animation: info 1s ease-in forwards;
}

.skill-list.active .skill[data-num="2"] {
  -webkit-animation: info 0.7s ease-in 0.5s forwards;
          animation: info 0.7s ease-in 0.5s forwards;
}

.skill-list.active .skill[data-num="3"] {
  -webkit-animation: info 0.7s ease-in 1.2s forwards;
          animation: info 0.7s ease-in 1.2s forwards;
}

.skill-list.active .skill[data-num="4"] {
  -webkit-animation: info 0.7s ease-in 1.9s forwards;
          animation: info 0.7s ease-in 1.9s forwards;
}

.skill-list.active .skill[data-num="5"] {
  -webkit-animation: info 0.7s ease-in 2.6s forwards;
          animation: info 0.7s ease-in 2.6s forwards;
}

.skill-list.active .skill[data-num="6"] {
  -webkit-animation: info 0.7s ease-in 3.3s forwards;
          animation: info 0.7s ease-in 3.3s forwards;
}

.projects {
  margin: auto;
  margin-top: 20vh;
  width: 90%;
}

.projects h1 {
  font-size: 46px;
  font-weight: 400;
  margin-bottom: 1.8em;
  text-align: center;
}

.projects button {
  cursor: pointer;
  background: none;
  border: none;
  color: black;
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
}

.projects button:hover {
  color: #5c0096;
}

.projects .carousel {
  opacity: 0;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}

.projects .carousel .carousel-container {
  max-width: 85%;
}

.projects .carousel .carousel-container img {
  width: 100%;
  height: auto;
}

.projects .carousel .carousel-container .textBox {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.projects .carousel .carousel-container .textBox h2 {
  font-size: 28px;
  margin-bottom: 1em;
}

.projects .carousel .carousel-container .textBox p {
  font-size: 18px;
}

.projects .carousel .carousel-container .textBox p a {
  text-decoration: none;
  color: #c870ff;
}

.projects .carousel .carousel-container .textBox * {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all 0.5s ease-out 0.1s;
  transition: all 0.5s ease-out 0.1s;
}

.projects .carousel .carousel-container .carousel-image {
  position: relative;
}

.projects .carousel .carousel-container .carousel-image:hover .textBox {
  opacity: 1;
}

.projects .carousel .carousel-container .carousel-image:hover .textBox * {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects .carousel .carousel-container .carousel-image.hide {
  display: none;
}

.projects .carousel .carousel-container .carousel-image.show {
  display: block;
  -webkit-animation: blink 0.5s;
          animation: blink 0.5s;
}

.carousel.active {
  -webkit-animation: info 1s ease-out forwards;
          animation: info 1s ease-out forwards;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  margin-top: 5em;
  height: 3em;
  width: 100%;
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

@-webkit-keyframes info {
  0% {
    opacity: 0;
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes info {
  0% {
    opacity: 0;
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes aboutMove {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes aboutMove {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1335px) {
  .hello h1 {
    font-size: 54px;
  }
}

@media only screen and (max-width: 1230px) {
  .hello {
    margin-top: 30vh;
    margin-left: 10em;
  }
  .hello h1 {
    font-size: 44px;
  }
  .about {
    margin: auto;
    margin-top: 75vh;
    max-width: 95%;
  }
  .about h1 {
    text-align: center;
  }
  .about .about-card {
    max-width: 95%;
    padding: 2em;
  }
  .about .about-card .info {
    font-size: 25px;
  }
}

@media only screen and (max-width: 940px) {
  .hello {
    margin-left: 5em;
  }
  .hello h1 {
    font-size: 38px;
  }
  .about h1 {
    text-align: center;
  }
  .about .about-card .info {
    font-size: 20px;
  }
  .projects .carousel .carousel-container .textBox h2 {
    font-size: 20px;
  }
  .projects .carousel .carousel-container .textBox p {
    font-size: 14px;
    margin-inline: 2%;
  }
}

@media only screen and (max-width: 740px) {
  .hello {
    margin-left: 5em;
  }
  .hello h1 {
    font-size: 30px;
  }
  .skills {
    margin: auto;
    margin-top: 20vh;
    width: 90%;
  }
  .skills h1 {
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 1.8em;
    text-align: center;
  }
  .skills .skill-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 5em;
  }
  .skills .skill-list .skill {
    opacity: 0;
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 1em;
            column-gap: 1em;
  }
  .skills .skill-list .skill img {
    width: 100px;
    height: auto;
  }
  .skills .skill-list .skill p {
    font-size: 20px;
    max-width: 25em;
  }
}

@media only screen and (max-width: 675px) {
  .hello {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .hello h1 {
    color: white;
  }
  .hello h1 span {
    color: whitesmoke;
  }
  .hello h1 span::after {
    border-right: 2px solid whitesmoke;
  }
  .projects {
    width: 98%;
  }
  .projects .carousel {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "im im" "arl arr";
  }
  .projects .carousel-container {
    max-width: 100% !important;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: im;
  }
  .projects button#arrow-r {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: arr;
  }
  .projects button#arrow-l {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: arl;
  }
  .about {
    width: 95%;
  }
  .about .about-card {
    width: 95%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-inline: 0;
  }
  .about .about-card .info {
    margin-inline: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    row-gap: 1em;
    font-size: 16px;
  }
  .clip {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    height: auto;
    height: 100vh;
    width: 600vw;
  }
}

@media only screen and (max-width: 596px) {
  .hello {
    width: 80%;
  }
  .hello h1 {
    font-size: 24px;
  }
  .about h1 {
    font-size: 30px;
  }
  .about .info-bar h2 {
    font-size: 24px;
  }
  .about .info-bar p {
    font-size: 16px;
  }
  .skills h1 {
    font-size: 30px;
  }
  .skills .skill-list .skill {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects h1 {
    font-size: 30px;
  }
  .projects .carousel .carousel-container .textBox h2 {
    font-size: 18px;
    margin-bottom: 1em;
  }
  .projects .carousel .carousel-container .textBox p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 450px) {
  .hello {
    width: 87%;
  }
  .hello h1 {
    font-size: 20px;
  }
  .about .about-card .info {
    font-size: 13px;
  }
}
/*# sourceMappingURL=main.css.map */