body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: orange;
    text-decoration: none;
}
a:hover{
    color: navy;
}

/*-------------------header--------------------*/
.header a{
    color: #000;
    text-decoration: none;
}

.header{
    background-color:  #f2eecb;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #f2eecb;
}

.header ul a{
    display: block;
    padding: 20px;
    border-right: 1px solid rgb(119, 119, 119);
    text-decoration: none;
}
.header ul a:hover{
    background-color: #e0d784;
}

.header .logo{
    float: left;
    display: block;
    font-size: 2em;
    padding: 10px 20px;
}

.header .menu{
    clear: both;
    max-height: 0;
    transition: max-height .3s ease-out;
}

.header .menu-icon{
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}
/*----carky v burgeru----*/
.header .menu-icon .nav-icon{
    background: #333;
    display: block;
    width: 18px;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
}
.header .menu-icon .nav-icon:before{
    background: #333;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}
.header .menu-icon .nav-icon:after{
    background: #333;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}
/*-----------------------*/

/*----on click------*/
.header .menu-btn{
    display: none;
}

.header .menu-btn:checked ~ .menu{
    max-height: 240px;
}
.header .menu-btn:checked ~ .menu > li{
    border-top: 1px solid rgb(119, 119, 119);
}
.header .menu-btn:checked ~ .menu-icon .nav-icon{
    background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
    top: 0;
    transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
    top: 0;
    transform: rotate(45deg);
}
/*----------------*/

@media screen and (min-width: 860px){
    .header li{
        float: left;
    }
    .header li a{
        padding: 20px 30px;
    }
    .header .menu{
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon{
        display: none;
    }
}
/*-----------------------------------------------*/
/*--------paralax pozadi---------*/
.paralax{
    height: 100vh;
}
.paralax > h1{
    font-size: 3.5rem;
}
.paralax-1::after{
    content: "";
    background: url("../photos/demon_hunterjpg.jpg");
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    
    /*--parallax--*/
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(100% 0, 100% 68%, 43% 100%, 0 100%, 0 0);
}
.paralax-2::after{
    content: "";
    background: url("../photos/druid.jpg");
    opacity: 0.7;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    
    /*--parallax--*/
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(48% 0, 100% 24%, 100% 71%, 100% 100%, 0 78%, 0 26%);
}
.paralax-3::after{
    content: "";
    background: url("../photos/Hunter.jpg");
    opacity: 0.7;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    
    /*--parallax--*/
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(48% 0, 100% 18%, 100% 71%, 100% 85%, 0 100%, 0 0);
}
.paralax-4::after{
    content: "";
    background: url("../photos/mage.jpg");
    opacity: 0.7;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    
    /*--parallax--*/
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(47% 0, 100% 25%, 100% 83%, 15% 100%, 0 100%, 0 0);
}
/*----------------------------*/

.centered-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text{
    max-width: 40rem;
    margin: auto;
}


@media only screen and (max-width: 800px){
    .text{
        max-width: 36rem;
    }
}
@media only screen and (max-width: 680px){
    .text{
        max-width: 25rem;
    }
}
@media only screen and (max-width: 425px){
    .text{
        max-width: 15rem;
    }
}
/*-- footer --*/
.gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.icon{
    margin: 15px;
    width: 45px;
    height: 45px
}
footer{
    margin-top: 10%;
    min-height: 300px;
    background-color: #f2eecb;
}
footer > div > section > h3{
    font-size: 1.5rem;
}
.footer-text{
    font-size: 1rem;
    padding-left: 1em;
    padding-right: 1em;
}
.footer-text > a {
    color: rgb(0, 0, 165);
}
.footer-text > a:hover{
    color: rgb(255, 123, 0);
}

.row{
    display: flex;
    justify-content: space-around;
}
.col > h3{
    text-align: center;
}
.col > p{
    text-align: center;
}
.col > ul > li{
    list-style: none;
    text-align: center;
    line-height: 35px;
}
.col > ul{
    padding-left: 0;
}